<h1>Relief Squad</h1>
<hr>

<div class="row">
	<div class="span4 offset2">
		<%= image_tag "randy-black.png" %>
	</div>
	<div class="span5">
		<p class="lead">
			The Relief Squad comes to you.
			<hr>
		</p>
		<p>
			Our mission is to bring relief and relaxation to you.
			<br>
			We come to your home or workspace with everything needed to provide you with a professional and hassle-free massage.
			<br><br>
			With our new website, we hope to make the service even more convenient for our customers.
			<br>Give it a try! You know you deserve it!
			<br><br>
			<em>Randall Ehrlich</em>
			<br>
			<small>Founder and Therapist</small>

		</p>
	</div>
</div>
<hr>
<div class="row">
	<h2 class="text-center">Our Services</h2>
	<table class="table table-striped table-bordered" style="margin-left:15px;">
		<th class="span3" style="text-align: center;">Table</th>
		<th class="span3" style="text-align: center;">Chair</th>
		<th class="span3" style="text-align: center;">Workplace</th>

		<tr>
			<td>
				<ul class="unstyled">
					<br>
					<li>A trained massage therapist comes to you.</li>
					<br><br>
					<li>Table, fresh linnens, and oils provided.</li>
					<br>
					<li>Relaxing sounds or music can be provided.</li>
					<br>
					<li style="text-align: center;"><b class="alert-info">$120/hour</b></li>
				</ul>
			</td>

			<td>
				<ul class="unstyled">
					<br>
					<li>A trained massage therapist comes to you.</li>
					<br><br>
					<li>Chair and oils provided.</li>
					<br>
					<li>Relaxing sounds or music can be provided.</li>
					<br>
					<li style="text-align: center;"><b class="alert-info">$120/hour</b></li>
				</ul>
			</td>
			
			<td>
				<ul class="unstyled">
					<br>
					<li>A trained massage therapist comes to your workplace.</li>
					<br>
					<li>Chair and oils provided.</li>
					<br>
					<li>Relaxing sounds or music can be provided.</li>
					<br>
					<li style="text-align: center;"><b class="alert-info">$120/hour</b></li>
				</ul>	
			</td>
		</tr>
	</table>
	<p class="text-center">
		<%= link_to "Book a Massage", root_path, :class => "btn btn-primary btn-large" %>
	</p>
</div>

